@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
:root{
   --main-color:#2980b9;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#0026ff;
   --light-bg:#ffffff;
   --white:#fff;
   --black:#2c3e50;
   --border:.1rem solid rgba(0,0,0,.3);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: "Michroma", system-ui;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color: var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   
   background: #fff
   
}

section{
   padding:2.5rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.heading{
   text-align: center;
   padding-bottom: 2.5rem;
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
}

.empty{
   width: 100%;
   background-color: var(--white);
   padding: 1.5rem;
   text-align: center;
   font-size: 2rem;
   color: var(--red);
   border-radius: .5rem;
   text-transform: capitalize;
   box-shadow: var(--box-shodow);
   border: var(--border);
}

.btn,
.delete-btn{
   display: block;
   text-align: center;
   width: 100%;
   margin-top: 1rem;
   padding: 1rem 3rem;
   color: var(--white);
   cursor: pointer;
   font-size: 1.8rem;
   text-transform: capitalize;
   border-radius: .5rem;
}

.btn{
   background-color: var(--main-color);
}

.delete-btn{
   background-color: var(--red);
}

.btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.header{
   position: sticky;
   top: 0; left: 0; right: 0;
   z-index: 1000;
   box-shadow: var(--box-shodow);
   background-color: var(--black);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.header .flex .logo{
   font-family: "Michroma", system-ui;
   font-size: 3.5rem;
   color: #ffff
}

.header .flex .navbar a{
   color: var(--white);
   margin-left: 2rem;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.header .flex .navbar a:hover{
   text-decoration: underline;
}

.header .flex .navbar a span{
   margin-left: 1rem;
   padding:.3rem .7rem;
   background-color: var(--light-bg);
   color: var(--light-color);
   border-radius: .5rem;
}